<h2><%= @dog_walk.title %></h2>
<p>Date : <%= @dog_walk.date %> - Heure de départ : <%= @dog_walk.hour %></p>
<p><%= @dog_walk.description %>
<p>Organisateur : <%= @dog_walk.user.pseudo %></p>
<p>Point de rendez-vous : <%= @dog_walk.meeting_point %></p>
<p>Places disponibles : <%= @dog_walk.available_spots %></p>
